@import "media.scss";


$black: #011627;
$blacklight: #656073;


* {
  box-sizing: border-box;
  font-family: "SFUIText";
  font-weight: 400;
}

.main-wrap{
  overflow: hidden;
  position: relative;

  & > div {
    position: relative;
    z-index: 1;
  }
}

textarea,
input,
a,
a:focus,
a:active,
a:hover{
  text-decoration: none;
  outline: 0;
}

button{
  outline: 0;
}

a,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  color: #253444;
  box-sizing: border-box;
}

.tablet{
  @media (max-width: 992px) {
    display: none;
  }
}

input{
  transition: 0.3s;

  &:focus{
    border-color: #5b6e7b !important;
    color: #163143 !important;
  }
  &:active{
    border-color: #5b6e7b !important;
  }

}
.correct input,
.correct textarea{
  color: #5b6e7b !important;
  border-color: #aef7e9 !important;
}

.error-field input,
.error-field textarea{
  color: #5b6e7b !important;
  border-color: #ee789a !important;
}

body{
  background: #03090f url("../img/bg.png") top left no-repeat;
}

.site-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4f73d9;
  border-radius: 5px;
  color: #ffffff;
  background: #4f73d9;
  position: relative;
  overflow: hidden;

  &:before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url("../img/bet.svg") top right no-repeat;
    background-size: 85px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-30px, 30px);
    transition: 0.3s;
  }

  &:after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url("../img/bet.svg") top right no-repeat;
    background-size: 85px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-90deg) translate(-30px,30px);
    transition: 0.3s;
  }

  &:hover{
    &:before{
      transform: translate(0, 0);
    }
    &:after{
      transform: rotate(-90deg) translate(0, 0);
    }
  }

  &-outline{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #4f73d9;
    color: #4f73d9;
    border-radius: 5px;
    transition: 0.3s;

    &:hover{
      background: #4f73d9;
      color: white;
    }
  }
}

.site-name{

}

.site-title{
  position: relative;

  i{
    font-style: normal;
    position: relative;
    font-weight: 700;
    color: white;
    letter-spacing: 0.7px;

    &:before{
      content: "";
      display: block;
      width: 65px;
      height: 1px;
      background: #fd9500;
      position: absolute;
      left: -120px;
      top: 50%;
    }

    &:after{
      content: "";
      display: block;
      width: 65px;
      height: 1px;
      background: #fd9500;
      position: absolute;
      right: -120px;
      top: 50%;
    }
  }


}

.site-container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
  padding-bottom: 80px;

  background-color: rgb(3, 9, 15);
  box-shadow: 0px 4px 90px 0px rgba(255, 255, 255, 0.16);
}

.page__wrapper{
  position: relative;
}

.header{

  &__inner{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: #131c24;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #4f73d9;
  }

  &__logo{

  }

  &__menu{
    display: flex;
  }

  &__menu-item{
    margin-right: 55px;

    &:last-child{
      margin-right: 0;
    }
  }

  &__menu-link{
    height: 40px;
    display: flex;
    align-items: center;
    color: #ffffff;
    position: relative;
    opacity: 0.5;
    transition: 0.3s;

    &.active{
    }

    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 20px;
      left: 0;
    }

    &:after{
      content: '';
      display: block;
      width: calc(100% + 20px);
      position: absolute;
      bottom: -19px;
      left: -10px;
      height: 3px;
      background: #4f73d9;
      opacity: 0;
      transition: 0.3s;
    }

    &:hover{
      opacity: 1;

      &:after{
        opacity: 1;
      }
    }

  }

  &__social{
    display: flex;
  }

  &__social-i{
    margin-right: 15px;

    &:last-child{
      margin-right: 0;
    }

    svg{
      width: 30px;
      height: 30px;

      path{
        fill: #4f73d9 !important;
        transition: 0.3s;
      }
    }

    &:hover{
      svg {
        path {
          fill: #ffffff !important;
        }
      }
    }
  }

}

.site-title{
  font-size: 35px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 25px;

  span{
    color: #4f73d9;
  }
}

.breadcrumb{
  display: flex;
  padding-top: 40px;

  &__item{
    color: #818487;
    font-size: 16px;
  }

}

.home-top{
  margin-bottom: 30px;

  &__items{
    display: flex;
    justify-content: space-between;
  }

  &__item{
    width: 30%;
  }

  &__img{
    position: relative;

    img{
      max-width: 100%;
    }

    span{
      font-size: 22px;
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
      color: white;
    }
  }
}



.site-table{

  &__row{
    display: flex;
    background: #131c24;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 10px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__left{
    margin-right: 35px;
  }

  &__img{
    position: relative;

    img{
      max-width: 100%;
    }

    span{
      position: absolute;
      top: 8px;
      left: 12px;
      font-size: 18px;
      color: white;
    }
  }

  &__name{
    font-size: 22px;
    color: white;
    text-align: center;
  }

  &__center{
    width: 520px;
    margin-right: 35px;
  }

  &__list{
    background: #080808;
  }

  &__item{
    display: flex;
    border-bottom: 1px solid #131c24;
  }

  &__type{
    width: 50%;
    color: #5d606d;
    padding: 10px 15px;
    border-right: 1px solid #131c24;
    position: relative;
    display: flex;
    align-items: flex-start;

    &:before{
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      background: url("../img/check.svg") center center no-repeat;
      margin-right: 10px;
      position: relative;
      top: 1px;
    }
  }

  &__value{
    width: 50%;
    color: white;
    padding: 10px 0 10px 35px;
  }

  &__right{

  }

  &__rating{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;


    span{
      color: #eff0f0;
      margin-left: 6px;
      font-size: 12px;
    }

    svg {
      width: 12px;
      margin-right: 3px;

      path{
        fill: #fd9500;
      }
    }
  }

  &__btns{
    display: flex;
    flex-direction: column;
  }

  &__info-btn{
    width: 210px;
    height: 55px;
    margin-bottom: 15px;
  }

  &__get-btn{
    width: 210px;
    height: 55px;
  }

}

.seo-more{
  letter-spacing: 0.8px;
  color: #4f73d9;
}

.seo-block{
  margin-top: 50px;
  line-height: 22px;

  &--more{
    overflow: hidden;
    position: relative;
    max-height: 200px;
  }

  p{
    margin-top: 0;
    margin-bottom: 25px;
    color: #6a6e7d;

    &:last-child{
      margin-bottom: 0;
    }
  }

  h2{
    color: #ffffff;
    font-size: 22px;
  }

  h3{
    font-size: 24px;
    color: #4f73d9;
  }

  ul{
    margin-bottom: 25px;

    li{
      position: relative;
      color: #6a6e7d;

      &:before{
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url("../img/check.svg") center center no-repeat;
        position: relative;
        margin-right: 12px;
        top: 2px;
      }
    }
  }

}

.casino-review{
  margin-top: 40px;
  display: flex;

  &__left{
    margin-right: 30px;
    width: 50%;
  }

  &__table{
    background: #131c24;
    padding: 25px;

    .site-table__center {
      width: 100%;
    }

    .site-table__value{
      line-height: 22px;
    }

    svg{
      height: 20px;
      margin-right: 5px;
    }
  }

  &__table-title{
    color: #fff;
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__right{
    width: 50%;
  }

  &__desc{
    color: #6a6e7d;
    line-height: 22px;
  }

  &__bonus{
    margin-top: 46px;
  }

  &__bonus-title{
    color: #fff;
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__bonus-img{
    position: relative;
  }

  &__bonus-btn{
    position: absolute;
    width: 210px;
    height: 55px;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
  }

}

.casino-block{
  display: flex;
  margin-top: 30px;
  margin-bottom: 60px;

  &__left{
    width: 50%;
    margin-right: 30px;
  }

  &__right{
    width: 50%;
  }

}

.casino-faq{

  &__title{
    color: #fff;
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__items{

  }

  &__item{
    max-height: 50px;
    position: relative;
    overflow: hidden;
    background: #131c24;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;

    span{
      height: 50px;
      display: flex;
      align-items: center;
      padding: 20px;
      color: #ffffff;
    }
  }

  &__more{
    letter-spacing: 0.8px;
    color: #4f73d9;
  }

}

.casino-top-4{

  &__title{
    color: #fff;
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__items{

  }

  &__item{
    display: flex;
    background: #131c24;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  &__num{
    color: #ffffff;
    font-size: 18px;
    flex: 0 0 50px;
    height: 50px;
    padding-top: 8px;
    padding-left: 12px;

    background: url("../img/new.png") center center no-repeat;
  }

  &__logo{
    flex: 0 0 100px;
    margin-right: 25px;
    height: 50px;

    img{
      max-width: 100%;
    }
  }

  &__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 10px;
  }

  &__name{
    color: #ffffff;
    font-size: 18px;
  }

  &__btn{
    width: 140px;
    height: 35px;

    &:after,
    &:before{
      display: none;
    }
  }

}







































































.footer{
  background-color: #4f73d9;
  position: relative;
  z-index: 2;


  &__inner{
    padding: 0;
    padding-top: 1px;
  }

  &__top{
    display: flex;
    justify-content: space-between;
    background-color: #131c24;
    padding-top: 18px;
    padding-bottom: 18px;
    align-items: center;
    box-shadow: none;
  }

  &__logo{

  }

  &__menu{
    display: flex;
    margin:  0 -15px;
  }

  &__menu-item{

  }

  &__menu-link{
    color: #ffffff;
    font-size: 16px;
    line-height: 45px;
    letter-spacing: .8px;
    padding: 0 15px;
    font-weight: 300;
  }

  &__bottom{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
    box-shadow: none;
  }

  &__bottom-txt{
    font-weight: 300;
    color: white;
  }

  &__bottom-comp{

    img{
      max-width: 180px;
      margin-left: 22px;

      &:first-child{
        margin-left: 0;
      }
    }
  }
}

.to-top{
  display: none;
  width: 46px;
  height: 46px;
  background: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .3s;
  position: fixed;
  z-index: 10;
  bottom: 10%;
  right: 10%;

  &:hover{
    opacity: .8;
  }

  &.show{
    display: flex;
  }

  img{
    width: max-content;
    height: max-content;
  }
}
