footer.footer
  .footer__inner
    .footer__top.site-container
      .footer__logo
        img(src="./img/logo.png")
      .footer__menu
        .footer__menu-item
          a(href="#").footer__menu-link Игры на деньги
          a(href="#").footer__menu-link СлотоКинг
          a(href="#").footer__menu-link Эльдорадо
          a(href="#").footer__menu-link ДжойКазино
          a(href="#").footer__menu-link Pокс Казино
          a(href="#").footer__menu-link Пин Ап Казино
      .footer__sotial
        a(href="#").header__social-i
          include ../../img/facebook.svg
        a(href="#").header__social-i
          include ../../img/youtube.svg
        a(href="#").header__social-i
          include ../../img/telegram2.svg


    .footer__bottom.site-container
      .footer__bottom-txt Рейтинг лучших онлайн казино Украины © 2020 Top-Casino.com.ua
      .footer__bottom-comp
        img(src='./img/logo4.png' alt="img")
        img(src='./img/logo3.png' alt="img")
        img(src='./img/logo2.png' alt="img")
        img(src='./img/logo1.png' alt="img")


a(href="#").to-top
  img(src="../img/arrow-to-top.png" alt="img" width='49' height='25')
