header.header
  .header__inner.site-container
    .header__logo
      a(href="#")
        picture
          source(srcset="./img/logo.webp" type="image/webp")
          source(srcset="./img/logo.jpg" type="image/png")
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
    ul.header__menu
      li.header__menu-item
        a(href='#').header__menu-link.active Бездепозитные бонусы
      li.header__menu-item
        a(href='#').header__menu-link Контакты

    .header__social
      a(href="#").header__social-i
        include ../../img/facebook.svg
      a(href="#").header__social-i
        include ../../img/youtube.svg
      a(href="#").header__social-i
        include ../../img/telegram2.svg

    .header__mobile-menu
      a(href='javascript:void(0);').header__mobile-menu-i#menu-btn

